.divSlider {
	width:550px;
	height:400px;
}

#slideshow {
	margin:0 auto;
	width:510px;
	height:360px;
	position: relative;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:510px;
  height:360px;
  overflow:auto; /* allow scrollbar */
}

#slideshow #slidesContainer .slide {
  margin:20px auto;
  width:490px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:360px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:360px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl 
{
  top: 0;
  left:0;
  background:transparent url(../images/ff_images/slider/arrow_left.gif) no-repeat 0 0;
}
#rightControl 
{
  top: 0;
  right: 0;
  background:transparent url(../images/ff_images/slider/arrow_right.gif) no-repeat 0 0;
}